*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("que-hacer-en-california-5.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    
    
    
    .img{
    
    position: relative;
    top: 110px;
     
    
    width: 200px;
    
    height: 200px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("descarga.png");
    background-size: contain;
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    color: rgb(0, 0, 0);
    
     
    
    }

    .contenedortecno{

        height: 300px;
        
        width: 100%;
        
        position: absolute;
        
        top: 300px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("operadoreselectricos.png");
        
        }
        
        
        
        .textotecno{
        
        text-align: justify;
        
        color: rgb(0, 0, 0);
        
        font-size: 20px;
        font-family: sans-serif;
        
        
        }
        .contenedoringles{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 300px
            
             
            
            }
            
             
            
            .imageningles{
            
             
            
            background-repeat: no-repeat;
            
            float:right;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("");
            
            }
            
            
            
            .textoingles{
            
            text-align: justify;
            
            color: rgb(0, 0, 0);
            
            font-size: 20px;
            font-family: sans-serif;
            
            
            } 
            .contenedorsociales{

                height: 280px;
                
                width: 100%;
                
                position: absolute;
                
                top: 300px
                
                 
                
                }
                
                 
                
                .imagensociales{
                
                background-repeat: no-repeat;
            
                float:right;
                    
                height: 200px;
                    
                width: 260px;
                    
                margin-left: 5px;
                    
                margin-right:5px;
                    
                background-image: url("virreinatodelriodelaplata.jpg"); 
                
                
                
              
            
                
                }
                
                
                
                .textosociales{
                
                text-align: justify;
                
                color: rgb(0, 0, 0);
                
                font-size: 20px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                
                
                }