*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("california_mountains_stones_vegetation_lake_nevada-780150.jpg!d");
    
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    fondo tecnologia{
    
        background-image: url("");
        
        background-repeat: no-repeat;
        
        }
    
    
    .img{
    
    position: relative;
    
     
    
    width: 300px;
    
    height: 200px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     top: 1px;
    
    left: 180px;

    
    background-image: url("");
    background-size: contain;
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 30px;
    
    text-align: justify;
    
    color: brown;

    top: 200px;
     
    
    }
    
    
.contenido{

    height: 200px;
    width: 300%;
    
    position: absolute;
    
    top: 310px;
    
     
    
    }
    
     
    
    .imagentecno{
    
     
    
    background-repeat: no-repeat;
    
    float:right; 
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("");
    
    }
    
    
    
    .textotecno{
    
    text-align: justify;
    
    color: rgb(11, 147, 147);
    
    font-size: 25px;
    
    
    
    }

    .imagenbiologia{
    
     
    
        background-repeat: no-repeat;
        
        float:right; 
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("");
        
        }
        
        
        
        .textobiologia{
        
        text-align: justify;
        
        color: rgba(0, 5, 5, 0.849);
        
        font-size: 25px;
        
        
        
        }
        
    
    .contenedorsociales{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 300px
        
         
        
        }
        .imagensociales{
                
            background-repeat: no-repeat;
        
            float: inline-start;
                
            height: 250px;
                
            width: 300px;
                
            margin-left: 800x;
                
            margin-right:20px;
                
            background-image: url("mapa\ de\ sociales\ 2.drawio\ g.png");
            
        
            
            }
            
            
            .textosociales{
        
                text-align: justify;
                
                color: rgba(0, 5, 5, 0.849);
                
                font-size: 25px;
            
            
            }
            .imagenmatematicas{
                
                background-repeat: no-repeat;
            
                float:right;
                    
                height: 348px;
                    
                width: 405px;
                    
                margin-left: 20px;
                    
                margin-right:20px;
                    
                background-image: url("");
                
                }
                .textomatematicas{
            
                    text-align: justify;
                    
                    color: rgb(11, 147, 147);
                    
                    font-size: 25px;
                }
            
            .contenedoringles{
    
                height: 280px;
                
                width: 100%;
                
                position: absolute;
                
                top: 300px
                
                 
                
                }
                    .imageningles{
                        
                        background-repeat: no-repeat;
                    
                        float:right;
                            
                        height: 348px;
                            
                        width: 405px;
                            
                        margin-left: 20px;
                            
                        margin-right:20px;
                            
                        background-image: url("");
                        
                        }
                        
                        
                        
                        .textoingles{
                        
                        text-align: justify;
                        
                        color: rgb(244, 247, 247);
                        
                        font-size: 25px;
                        
                        }